@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-800 font-sans;
}

#root {
  @apply min-h-screen;
}

button:disabled {
  @apply opacity-60 cursor-not-allowed;
}
